<footer th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
<div class="container">
    <div class="row">
        <!-- Footer Widget Area -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="footer-widget">
                <!-- Logo -->
                <a href="index" class="foo-logo"><img src="img/core-img/logo2.png" alt=""></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="footer-social-info">
                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="google-plus"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>

        <!-- Footer Widget Area -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="footer-widget">
                <h6 class="widget-title">Sport Videos</h6>
                <!-- Single Blog Post -->
                <div class="single-blog-post style-2 d-flex">
                    <div class="post-thumbnail">
                        <img src="img/bg-img/12.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">Take A Romantic Break In A Boutique Hotel</a>
                        <div class="post-meta d-flex justify-content-between">
                            <a href="#"><i class="fas fa-eye" aria-hidden="true"></i> 34</a>
                            <a href="#"><i class="far fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                            <a href="#"><i class="fas fa-comments" aria-hidden="true"></i> 14</a>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Post -->
                <div class="single-blog-post style-2 d-flex">
                    <div class="post-thumbnail">
                        <img src="img/bg-img/13.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">Travel Prudently Luggage And Carry On</a>
                        <div class="post-meta d-flex justify-content-between">
                            <a href="#"><i class="fas fa-eye" aria-hidden="true"></i> 34</a>
                            <a href="#"><i class="far fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                            <a href="#"><i class="fas fa-comments" aria-hidden="true"></i> 14</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Widget Area -->
        <div class="col-12 col-sm-6 col-lg-3">
            <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2104260430324!2d106.65697201526048!3d10.795189361797865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529c0307ca66d%3A0xcbe8351d1162e943!2sRikai%20Technology!5e0!3m2!1sen!2s!4v1574387976895!5m2!1sen!2s" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <!-- Footer Widget Area -->

    </div>
</div>

<!-- Copywrite Area -->
<div class="copywrite-area">
    <div class="container">
        <div class="row">
            <!-- Copywrite Text -->
            <div class="col-12 col-sm-6">
                <p class="copywrite-text">Address: 27A Hoang Viet, Tan Binh district, Ho Chi Minh city, Viet Nam</p>
            </div>
            <div class="col-12 col-sm-6">
                <nav class="footer-nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Advertisement</a></li>
                        <li><a href="contact">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</footer>