<headadmin th:fragment="preloader" xmlns:th="http://www.w3.org/1999/xhtml">

    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" style="color: white">Xin Chào: <span th:object="${name}" th:text="${name}" style="color: white"></span></a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/login">Sign out</a>
            </li>
        </ul>
    </nav>

</headadmin>