<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="mag-main-menu" id="sticker">
        <div class="classy-nav-container breakpoint-off">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="magNav">

                <!-- Nav brand -->
                <a href="/" class="nav-brand"><img src="img/core-img/logo.png" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Nav Content -->
                <div class="nav-content d-flex align-items-center">
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li class="active"><a href="/"></a></li>
                                <li><a href="/">Home</a></li>
                                <li><a th:href="archive">Archive</a></li>
                                <li><a th:href="about">About</a></li>
                                <li><a th:href="contact">Contact</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>

                    <div class="top-meta-data d-flex align-items-center">
                        <!-- Top Search Area -->
                        <div class="top-search-area">
                            <form action="index.html" method="post">
                                <input type="search" name="top-search" id="topSearch" placeholder="Search and hit enter...">
                                <button type="submit" class="btn"><i class="fas fa-search"aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <!-- Login -->
                        <a href="login" class="login-btn"><i class="fas fa-user" aria-hidden="true"></i></a>
                        <!-- Submit Video -->
                        <a href="https://www.facebook.com/rikai.technology/" class="submit-video"><span><i class="fa fa-cloud-upload"></i></span> <span class="video-text">FANPAGE</span></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
