<preloader th:fragment="preloader" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</preloader>