<slider th:fragment="slider" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="hero-area owl-carousel owl-loaded owl-drag">
        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-7612px, 0px, 0px); transition: all 1s ease 0s; width: 13321px;"><div class="owl-item cloned" style="width: 1903px;"><div class="hero-blog-post bg-img bg-overlay" style="background-image: url(img/bg-img/2.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Contetnt -->
                        <div class="post-content text-center">
                            <div class="post-meta" data-animation="fadeInUp" data-delay="100ms" style="animation-delay: 100ms; opacity: 0;">
                                <a href="#">MAY 8, 2018</a>
                                <a href="archive">lifestyle</a>
                            </div>
                            <a href="video-post.html" class="post-title" data-animation="fadeInUp" data-delay="300ms" style="animation-delay: 300ms; opacity: 0;">Party Jokes Startling But Unnecessary</a>
                            <a href="video-post.html" class="video-play" data-animation="bounceIn" data-delay="500ms" style="animation-delay: 500ms; opacity: 0;"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div></div><div class="owl-item cloned" style="width: 1903px;"><div class="hero-blog-post bg-img bg-overlay" style="background-image: url(img/bg-img/3.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Contetnt -->
                        <div class="post-content text-center">
                            <div class="post-meta" data-animation="fadeInUp" data-delay="100ms" style="animation-delay: 100ms; opacity: 0;">
                                <a href="#">MAY 8, 2018</a>
                                <a href="archive">lifestyle</a>
                            </div>
                            <a href="video-post.html" class="post-title" data-animation="fadeInUp" data-delay="300ms" style="animation-delay: 300ms; opacity: 0;">Party Jokes Startling But Unnecessary</a>
                            <a href="video-post.html" class="video-play" data-animation="bounceIn" data-delay="500ms" style="animation-delay: 500ms; opacity: 0;"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div></div><div class="owl-item" style="width: 1903px;"><div class="hero-blog-post bg-img bg-overlay" style="background-image: url(img/bg-img/1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Contetnt -->
                        <div class="post-content text-center">
                            <div class="post-meta" data-animation="fadeInUp" data-delay="100ms" style="animation-delay: 100ms; opacity: 0;">
                                <a href="#">MAY 8, 2018</a>
                                <a href="archive">lifestyle</a>
                            </div>
                            <a href="video-post.html" class="post-title" data-animation="fadeInUp" data-delay="300ms" style="animation-delay: 300ms; opacity: 0;">Party Jokes Startling But Unnecessary</a>
                            <a href="video-post.html" class="video-play" data-animation="bounceIn" data-delay="500ms" style="animation-delay: 500ms; opacity: 0;"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div></div><div class="owl-item" style="width: 1903px;"><div class="hero-blog-post bg-img bg-overlay" style="background-image: url(img/bg-img/2.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Contetnt -->
                        <div class="post-content text-center">
                            <div class="post-meta" data-animation="fadeInUp" data-delay="100ms" style="animation-delay: 100ms; opacity: 0;">
                                <a href="#">MAY 8, 2018</a>
                                <a href="archive">lifestyle</a>
                            </div>
                            <a href="video-post.html" class="post-title" data-animation="fadeInUp" data-delay="300ms" style="animation-delay: 300ms; opacity: 0;">Party Jokes Startling But Unnecessary</a>
                            <a href="video-post.html" class="video-play" data-animation="bounceIn" data-delay="500ms" style="animation-delay: 500ms; opacity: 0;"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div></div><div class="owl-item active" style="width: 1903px;"><div class="hero-blog-post bg-img bg-overlay" style="background-image: url(img/bg-img/3.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Contetnt -->
                        <div class="post-content text-center">
                            <div class="post-meta animated fadeInUp" data-animation="fadeInUp" data-delay="100ms" style="animation-delay: 100ms; opacity: 1;">
                                <a href="#">MAY 8, 2018</a>
                                <a href="archive">lifestyle</a>
                            </div>
                            <a href="video-post.html" class="post-title animated fadeInUp" data-animation="fadeInUp" data-delay="300ms" style="animation-delay: 300ms; opacity: 1;">Party Jokes Startling But Unnecessary</a>
                            <a href="video-post.html" class="video-play animated bounceIn" data-animation="bounceIn" data-delay="500ms" style="animation-delay: 500ms; opacity: 1;"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div></div><div class="owl-item cloned" style="width: 1903px;"><div class="hero-blog-post bg-img bg-overlay" style="background-image: url(img/bg-img/1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Contetnt -->
                        <div class="post-content text-center">
                            <div class="post-meta" data-animation="fadeInUp" data-delay="100ms" style="animation-delay: 100ms; opacity: 0;">
                                <a href="#">MAY 8, 2018</a>
                                <a href="archive">lifestyle</a>
                            </div>
                            <a href="video-post.html" class="post-title" data-animation="fadeInUp" data-delay="300ms" style="animation-delay: 300ms; opacity: 0;">Party Jokes Startling But Unnecessary</a>
                            <a href="video-post.html" class="video-play" data-animation="bounceIn" data-delay="500ms" style="animation-delay: 500ms; opacity: 0;"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div></div><div class="owl-item cloned" style="width: 1903px;"><div class="hero-blog-post bg-img bg-overlay" style="background-image: url(img/bg-img/2.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Contetnt -->
                        <div class="post-content text-center">
                            <div class="post-meta" data-animation="fadeInUp" data-delay="100ms" style="animation-delay: 100ms; opacity: 0;">
                                <a href="#">MAY 8, 2018</a>
                                <a href="archive">lifestyle</a>
                            </div>
                            <a href="video-post.html" class="post-title" data-animation="fadeInUp" data-delay="300ms" style="animation-delay: 300ms; opacity: 0;">Party Jokes Startling But Unnecessary</a>
                            <a href="video-post.html" class="video-play" data-animation="bounceIn" data-delay="500ms" style="animation-delay: 500ms; opacity: 0;"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div></div></div></div><div class="owl-nav"><div class="owl-prev"><i class="fas fa-angle-left"></i></div><div class="owl-next"><i class="fas fa-angle-right"></i></div></div><div class="owl-dots disabled"></div></div>
</slider>